<div id="pathbar">
	<ul>
		<li>Está en: </li>
		<? foreach ($this->path as $path) : ?>
		<li><a href="/<?=( $path['name'] == 'HOME' ? '': $path['name'] )?>"><?=$path['title']?></a></li>
		<? endforeach; ?>
		<li><?=$this->page['title']?></li>
	</ul>
</div>
<div id="document">
	<h1><?=$this->page['title']?></h1>
	<h2 class="subtitle"><?=$this->page['subtitle']?></h2>
	<p><?=$this->page['body']?></p>


	<? if ( $this->children ): ?>
	<ul id="document_children">
		<? foreach ($this->children as $document) : ?>
		<li class="box">
			<a title="<?=$document['title']?>" href="<?=$this->baseUrl()?>/<?=$document['name']?>" class="button rfloat"><?=$document['button_text']?></a>
			<a title="<?=$document['title']?>" href="<?=$this->baseUrl()?>/<?=$document['name']?>" class="title"><?=$document['title']?></a>
			<p><?=$document['excerpt']?></p>
		</li>
		<? endforeach; ?>
	</ul>
	<? endif; ?>

	<? if ( $this->links ): ?>
	<ul id="document_links">
		<? foreach ($this->links as $link) : ?>
		<li class="box">
			<a title="<?=$link['title']?>" href="<?=$link['url']?>" class="button rfloat"><?=$link['button_text']?></a>
			<a title="<?=$link['title']?>" href="<?=$link['url']?>" class="title"><?=$link['title']?></a>
			<p><?=$link['description']?></p>
		</li>
		<? endforeach; ?>
	</ul>
	<? endif; ?>
</div>