<? if ( $this->code == 404 ): ?>
	<h1>Page not found</h1>
	<p>The page you are looking for is not available in our servers.</p>
<? else: ?>
	<h1>Your request is being processed</h1>
	<p>This might take a minute...</p>
	<?
	// Do not reload page when exceptions are showm, they are there to be read.
	if ( !isset( $this->exception ) ):
	?>
		<script type="text/javascript">
		<!--
		/* After 3 seconds relaunch the page...*/
		function r()
		{
			document.location.reload()
		}

		setTimeout("r()", 3000 );
		//-->
		</script>
	<?php endif; ?>
<?php endif; ?>
<?php if ( isset( $this->exception ) ): ?>
<h1>Reason:</h1>
<pre style="font-weight:bold"><?=$this->exception['msg'];?></pre>
<pre>In file: <?=$this->exception['file'];?></pre>
<h1>Traceback:</h1>
<pre><?=$this->exception['traceback'];?></pre>
<p style="border:1px solid #333;padding: 10px">Hide this awfull message by setting <code>display_traceback = 0</code> in file <code>config/settings.ini</code>
<?php endif; ?>

