/* A useless CSS... Just delete it, it's not a good starting point :) */

body {
	font-size: .75em;
	text-align: center;
	color: #333;
	font-family: Arial;
	background: url(sample.png) repeat-x 0 0;
}

/** MAIN CONTAINERS **/
div#container {
	width: 950px;
	margin: 0 auto;
	text-align: left;
	margin: 0 auto;
}

body.fullwidth div#container {
	width: 100%;
}

#header
{
	height:60px
}
div#content {
	margin: 0 210px;
}

div.column {
	width: 200px;
}

div.col_left { /* three column left */
	float: left;
}

div.col_right { /* three column right */
	float: right;
}

#logo {
	float: left;
}

#menu {
	float: right;
	margin: 25px 0;
	font-size: 14px;
	font-family: "Trebuchet MS";
}

#menu li {
	display: inline;
	margin: 0px 20px;
}

#menu a {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	color: #fff;
	text-decoration: none;
	background-color: #DF7E0D;
	padding: 5px;
}

#menu a:hover,#menu .active {
	color: #fff;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #99CC00;
}

#footer {
	text-align: center;
	color: #777777;
}

#pathbar {
	width: 100%;
	font-size: 0.8em;
	margin: 0 0 5px 0;
}

#pathbar li {
	display: inline;
	padding: 3px;
}