<a title="Your site title" href="/">
	<!--
	<img src="/images/your-logo.png" alt="Your site title" id="logo"/>
	 -->
	 <h1 id="logo">My running app</h1>
</a>
<ul id="menu">
	<li><a title="" href="/doc-1" class="active">A doc</a></li>
	<li><a title="" href="/doc-2">Second sample doc</a></li>
	<li><a title="" href="">Third</a></li>
	<li><a title="" href="">Fourth</a></li>
	<li><a title="" href="">Fifth</a></li>
	<li><a title="" href="">Sixth</a></li>
</ul>
