<head>
	<title><?=$this->page['title']?></title>
	<script type="text/javascript"></script>
	<link href="/css/default.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/css/print.css" rel="stylesheet" type="text/css" media="print" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="cache-control" content="public" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="never" />
	<meta name="language" content="es-ES" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="14 days" />
	<meta name="author" content="Zendbase" />
	<meta name="keywords" content="<?=$this->page['keywords']?>" />
	<meta name="description" content="<?=$this->page['description']?>" />
</head>