<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php echo $this->render('head.phtml'); ?>
<body>
	<div id="container">
		<div id="header">
				<?php echo $this->render('header.phtml'); ?>
		</div>
		<div id="content-wrap" class="clear">
			<div class="column col_left">
			<?php echo $this->render('menu_left.phtml'); ?>
			</div>
			<div class="column col_right">			
			<?php echo $this->render('menu_right.phtml'); ?>
			</div>
			<div id="content">
				<?php echo $this->layout()->CONTENT; ?>
			</div>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<?php echo $this->render('footer.phtml'); ?>
		</div>
	</div>
</body>
</html>